form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 0.5rem;
  }
  
  ul {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  