<h2>Gerenciar Usuários</h2>

<form (ngSubmit)="submit()" #form="ngForm">
  <input name="name" [(ngModel)]="user.name" placeholder="Usuário" required>
  <input name="password" [(ngModel)]="user.password" placeholder="Senha" required>
    <label>Função:</label>
    <select name="role" [(ngModel)]="user.role" required>
      <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
    </select>
  <button type="submit">{{ user.id ? 'Atualizar' : 'Cadastrar' }}</button>
  <button type="button" (click)="resetForm()">Limpar</button>
</form>

<hr>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuário</th>
      <th>Função</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.role }}</td>
      <td>
        <button (click)="edit(u)">Editar</button>
        <button (click)="delete(u.id)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>
